* {
  margin: 0;
  padding: 0;
}

/** HEADER **/

header {
  position: fixed;
  width: 100%;
  text-align: center;
  background: white;
  padding-top: 12px;
  padding-bottom: 4px;
  border-bottom: solid 1px #ccc;
  z-index: 1;
}

header li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  font-family: arial;
}

#logo {
  text-align: center;
}

#sub {
  float: right;
  padding: 5px;
  background-color: rgb(77, 123, 159);
  margin-right: 7px;
  color: white;
  border-radius: 3px;
}

#settings {
  float: right;
  margin-right: 30px;
  margin-top: -1px;
}

#home {
  float: left;
  margin-left: 30px;
  padding-top: 5px;
}

#menu {
  float: left;
  margin-left: 22px;
  padding: 5px 8px;
  border: solid 1px #cecece;
  border-radius: 3px;
}

/** SPACES **/

.space {
  width: 100%;
  height: 47px;
}

.space2 {
  width: 100%;
  height: 94px;
}

/** ARTICLE SUGGESTIONS **/

.suggestions {
  box-sizing: border-box;
  height: 82px;
  font-family: georgia;
  border-bottom: solid 1px #ccc;
  width: 100%;
}

ol li {
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  width: 23%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgb(226, 226, 226);
  margin: 10px 0px 0px 22px;
  height: 60px;
}

/** MAIN **/

#page {
  display: block;
}

.main {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px black;
}

h3 {
  font-family: arial;
  margin-top: 8px;
  font-size: 0.8125rem;
}

h1 {
  box-sizing: border-box;
  font-style: italic;
  font-family: georgia;
  font-size: 2.125rem;
  margin-top: 30px;
  padding-bottom: 12px;
  border-bottom: solid 1px rgb(226, 226, 226);
}

#info {
  margin-top: 20px;
  font-size: 0.78rem;
  list-style: none;
  margin-bottom: 40px;
}

#info li {
  display: inline-block;
}

#social {
  float: right;
}

/** IMAGE **/

#image-descr {
  font-size: 0.8rem;
  color: #666;
  font-family: arial;
  width: 600px;
  margin-top: 8px;
}

/** ARTICLE **/

.article {
  box-sizing: border-box;
  margin-top: 30px;
  width: 630px;
  position: relative;
  display: block;
  font-family: georgia;
  font-size: 1.0625rem;
  line-height: 1.625rem;
}

#article {
  margin-left: 60px;
  width: 540px;
}

/** BREAK **/

.break {
  width: 945px;
}

#video {
  font-size: 0.8rem;
  color: #666;
  font-family: arial;
  width: 600px;
  margin-top: 8px;
}
